body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  max-width: 80%;
  margin: auto;
}
nav {
  background-color: lightsalmon;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}
